.env
*.venv
venv
app/Datasets
*.csv
*.png
*.ipynb_checkpoints
main.ipynb
CrossMapping-backup.ipynb
validation_of_token.ipynb
*.xml
*.iml
ExperimentalFiles
*.idea
.ipynb_checkpoints/
# Ignore Python cache files
__pycache__/
**/.ipynb_checkpoints/
*.tar.gz
*.log
*.pdf
*.json
